# compiled output
/dist
/tmp
/debugger

# dependencies
node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
**/*.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db


# NativeScript
*.js.map
app/**/*.js
app/**/*.css
!/app/app.android.css
!/app/app.ios.css
hooks/
lib/
platforms/
tmp/

# Sumo
NOTES.md
TODO.md
DIY.md

