// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example 'nativescript-theme-core/scss/dark'.
@import '../node_modules/nativescript-theme-core/scss/light';

// Customize any of the theme’s variables here, for instance $btn-color: red;

// ActionBar
//$ab-background: #3280CF;
//$ab-color: $white;
//$btn-color: $accent;
//$btn-color-secondary: darken($accent, 5%);

// Import the theme’s main ruleset.
@import '../node_modules/nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

//.link {
//  border-width: 0;
//  background-color: transparent;
//}
//.odd {
//  background-color: #efefef;
//}
//.even {
//  background-color: $white;
//}
