<StackLayout>
  <TextField icon="&#xf007;" class="font-awesome" hint="Email Address" keyboardType="email"
             autocorrect="false" autocapitalizationType="none"></TextField>
  <TextField hint="Password" secure="true"></TextField>
  <Label class="passLabel">Password</Label>
  <Button text="Log in" class="btnLogin"></Button>
  <StackLayout orientation="horizontal">
    <StackLayout cssClass="divider" ></StackLayout>
    <Label text="OR"></Label>
    <Label></Label>
  </StackLayout>
  <Image src="~/images/fb-btn.png"  horizontalAlignment="center"></Image>
  <Stacklayout orientation="horizontal">
    <Label text="Not a memeber?"></Label>
    <Label text="Sign up" class="redText"></Label>
  </Stacklayout>
</StackLayout>
