
.nameLabel {
  font-size: 20;
}

.descriptionLabel {
  font-size: 14;
}

.link {
  border-width: 0;
  background-color: transparent;
}
.odd {
  background-color: #efefef;
}
.even {
  background-color: white;
}
