<ActionBar title="Pokémon"></ActionBar>

<!--<ActivityIndicator busy="{{ isLoading }}" horizontalAlignment="right" />-->

<StackLayout class="page">
  <Label [style.visibility]="(pokemon$ | async) ? 'collapse' : 'visible'"
    class="h1 m-10" text="Loading..."></Label>

  <ListView [items]="pokemon$ | async" class="list-group">
    <ng-template let-item="item">
      <!--<FlexboxLayout [nsRouterLink]="[item.id]" class="container">-->
      <FlexboxLayout [nsRouterLink]="['/pokemon', item.id]" class="container">
        <Image [src]="item.image()"></Image>
        <Label [text]="item.formattedName()" class="list-group-item"></Label>
      </FlexboxLayout>
    </ng-template>
  </ListView>
</StackLayout>
